body {
    background-color: lightskyblue;  
}
#main
{
    background-color: burlywood;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 700px;
    border:2px solid white;
    border-radius: 10px;
    align-content: center;
}
